In [2]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",password="Flight12@",database="shop")

In [3]:
def insert(customer_id,first_name,Icecream_type,Flavour,quantity,price):
    res=con.cursor() #A cursor is needed to execute SQL queries in Python.
    #This qry line helps to insert data into the table Icecream 
    qry="insert into Icecream(customer_id,first_name,Icecream_type,Flavour,quantity,price)values(%s,%s,%s,%s,%s,%s)" 
    user=(customer_id,first_name,Icecream_type,Flavour,quantity,price) 
    res.execute(qry,user)
    con.commit()
    print("data insert success1")

In [4]:
insert(3,"C","Cassata Roll","Mixed",1,315)

data insert success1

In [5]:
insert(4,"D","Cup","Vanilla",1,10)

data insert success1

In [6]:
insert(5,"E","Ball","Chocolate",2,25)

data insert success1

In [11]:
insert(6,"F","Cone","Strawberry",1,40)

data insert success1

In [12]:
insert(7,"G","Stick","Mango",3,20)

data insert success1

In [9]:
insert(8,"H","Family Pack","Pista",2,165)

data insert success1

In [10]:
insert(9,"I","Cassata Roll","Mixed",1,315)

data insert success1

In [27]:
insert(10,"J","Cone","Chocolate",3,40)

data insert success1

In [18]:
insert(11,"K","Cup","Strawberry",3,10)

data insert success1

In [25]:
insert(12,"K","Cup","Strawberry",3,10)

data insert success1

In [36]:
insert(13,"K","Cone","Strawberry",3,10)

data insert success1

In [28]:
def delete(customer_id):
    res=con.cursor()
    qry="delete from Icecream where customer_id =%s"
    user=(customer_id,)
    res.execute(qry,user)
    con.commit()
    print("data delete success1")

In [15]:
delete(2)

data delete success1

In [29]:
delete(10)

data delete success1

In [32]:
def updatequantity(customer_id, quantity):
    res = con.cursor()
    qry = "UPDATE Icecream SET quantity = %s WHERE customer_id = %s"
    user = (quantity, customer_id)
    res.execute(qry, user)
    con.commit()
    print("Data update success")

In [8]:
def updatename(customer_id, Icecream_type, Flavour, price):
    res = con.cursor()
    qry = "UPDATE Icecream SET Icecream_type = %s, Flavour = %s, price = %s WHERE customer_id = %s"
    user = (Icecream_type, Flavour, price, customer_id)
    res.execute(qry, user)
    con.commit()
    print("Data update success")

In [9]:
updatename(4,"Cone","vanilla",20)

Data update success

In [10]:
def search_by_customer_id(customer_id):
    res = con.cursor()
    qry = "SELECT * FROM Icecream WHERE customer_id = %s"
    user = (customer_id,)
    res.execute(qry, user)
    result = res.fetchall()
    if result:
        print("Search results:")
        for row in result:
            print(row)
    else:
        print("No records found for customer ID:", customer_id)

In [11]:
search_by_customer_id(5)

Search results:
(5, 'E', 'Ball', 'Chocolate', 2, 25)